<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
   
</head>

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="../">The Renaissance Man > About Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="../">Home</a>
        <a class="nav-link active" aria-current="page" href="../aboutme">About me</a>
        <a class="nav-link" href="../projects">Projects</a>
        <a class="nav-link" href="../fitness">Fitness</a>
        <a class="nav-link" href="../contact">Contact</a>
    </div>
    </div>
  </div>
</nav>

<body class="bg-secondary">
    <div class="container justify-center align-center">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <p>I have always been fascinated by how things work and everything the world has to offer. As a child, I would often take things apart—though I didn’t always manage to put them back together. In my late teens and early twenties, I began fixing up the used cars I drove, finding great satisfaction in restoring something that was broken. While I’m not a professional mechanic, I have taken on challenging repairs, including removing a transmission and replacing a clutch—tasks many would leave to an expert.

At 19, I began working in manufacturing, assembling blenders for Vitamix. This role aligned with my interest in pursuing a degree in engineering, and it gave me firsthand experience with key principles of manufacturing and process control that I had only read about in books. Over time, I was also cross-trained in the shipping department, where I gained valuable exposure to logistics and the process of delivering goods to customers.
        </p>
<p> After three years at Vitamix, I moved to Phoenix, Arizona, and found employment at Timney Triggers, where I assembled aftermarket triggers for firearms. There, I was exposed to a higher level of manufacturing technology, including Wire EDMs, FANUC RoboDrills, and large lathes. While I did not operate these machines, observing them expanded my understanding of modern manufacturing processes.

After about three months, I relocated again—this time to Michigan—where I applied for a position as a Blanchard grinder operator at a steel supplier. During the interview, my prior college experience in CAD and industrial blueprint reading came up, and the company decided I might be a good fit for their CAD department. In that role, I translated and interpreted engineering drawings and sketches for both the shop and sales departments. I also utilized nesting software to convert CAD files into CNC files for plasma and oxy-fuel cutting machines.

</p><p>Throughout these various roles, I have continued to further my education through both formal and informal learning. I have taken college-level courses in business law and accounting, as well as completed a coding bootcamp where I had my first experience with web development. I am passionate about health and fitness, and I am an avid language learner—currently conversational only in English, but with a basic understanding of Spanish and Japanese. My true passion in life is learning new things, and I see this website as my outlet to explore and share that journey.</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>

</body>
</html>