<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Renaissance Man</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="../">The Renaissance Man</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="../">Home</a>
        <a class="nav-link"  href="../aboutme">About me</a>
        <a class="nav-link" href="../projects">Projects</a>
        <a class="nav-link" href="../fitness">Fitness</a>
        <a class="nav-link" href="../contact">Contact</a>
    </div>
    </div>
  </div>
</nav>
<body class="bg-secondary">
  <div class="container row align-items-start">
    <div class="col-2 shadow p-3 mb-5 bg-body-tertiary rounded">
      <h6 class="text-truncate">Renaissance Men</h1> 
  <a class="nav-link"  href="https://en.wikipedia.org/wiki/Michelangelo">Michelangelo</a>
  <a class="nav-link"  href="https://en.wikipedia.org/wiki/Raphael">Raphael</a>
  <a class="nav-link"  href="https://en.wikipedia.org/wiki/Galileo_Galilei">Galileo</a>
  <a class="nav-link"  href="https://en.wikipedia.org/wiki/Nicolaus_Copernicus">Nicolaus Copernicus</a>
</div>
    <div class="col-10 shadow p-3 mb-5 bg-body-tertiary rounded">
    <img src="/images/images.jpg" class="rounded mx-auto d-block" alt="A portrait of Leonardo Di Vinci">
       
       <p>
   A Renaissance man is someone skilled in many areas, blending artistic creativity with scientific curiosity and intellectual depth. This ideal, born during the Renaissance (14th–17th century), valued well-rounded learning in art, science, philosophy, and more, with the belief that personal growth came from exploring many disciplines.
  </p>

  <p>
  Leonardo da Vinci (1452–1519) is considered the ultimate Renaissance man for his mastery in art, science, and invention. He painted masterpieces like The Last Supper and Mona Lisa, advanced anatomical knowledge through detailed dissections, and designed machines far ahead of his time. His work combined mathematics, observation, and creativity, and his relentless curiosity drove him to study everything from nature to engineering, embodying the Renaissance belief that human potential knows no bounds.
  </p>
</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>